@tailwind base;
@tailwind components;
@tailwind utilities;

.main_navbar .router-link-exact-active{
    color: white;
}
.main_navbar .router-link-exact-active::after{
    content: '';
    min-width: 4px;
    min-height: 100%;
    position: absolute;
    background-color: white;
    left: 0;
    top: 0;
}


.sidebarLink:hover::after{
  font-size: 16px;
  white-space: nowrap;
  font-weight: bold;
  width: auto;
  padding: 10px 20px ;
  border-radius:10px;
  background-color: #2F3A3D;
  color: white;
  position: absolute;
  left: 104%;
  z-index: 20;
  transition: ease-in-out 300ms forwards;
}
.dashboardLink:hover::after{
content: 'Dashboard';
}
.recordsViewLink:hover::after{
  content: 'Find Records';
  }
.recordFormLink:hover::after{
  content: 'New Record';
  }
.employeeLink:hover::after{
content: 'Employee';
} 

.newRecordNav > .router-link-exact-active{
    color:white;
    background-color: #2F3A3D;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #7B9749; 
    border-right: 8px solid #7B9749; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 500ms linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .profileCard{
    animation: profileTransition 700ms ease-in-out forwards;
  }

  @keyframes profileTransition {
    0% {left: -30px;opacity: 0.1;margin-left: -10px;}
    100% {left: 0px;opacity: 1; margin-left: 0px;}

  }

  .manageAccount{
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 0 50px 50px 0 ;
    animation: manageAccountTransition 300ms ease-in-out forwards;
  }
  @keyframes manageAccountTransition {
    0% {left: -100%;opacity: 0.3;}
    100% {left: 0;opacity: 1;}

  }

  /* .sideBar{
    
    animation: sideBarSlide 100ms ease-in-out forwards;
  }
  @keyframes sideBarSlide {
    0% {width: 0;}
    100% {width: 60px;}

  } */
  /* w-[60px] min-w-[60px] */

.signUpFrom{
  animation: zoomInAnimation 200ms ease-in-out forwards;
}
  .logInForm{
    animation: zoomInAnimation 200ms ease-in-out forwards;
  }
  @keyframes zoomInAnimation {
    0% {transform: scale(0.9);}
    100% {transform: scale(1);}

  }
  .formCheckbox{
    
  }
  /* forrrrrrrrrrrm */

  .filupform td{
    padding: 5px;
    box-sizing: border-box;
    
  }

  .filupform td input{
    background-color: #f1f5f9;
    margin: 5px;
  }

  